node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
__pycache__/
*.pyc
discordbotdelayssh
discordbotdelayssh.pub
# data/staticsheet.xlsx
# data/schedule.png
# data/pending-imports/
# data/activity-stats.json
# data/bot-settings.json
# data/redpanda-last.json
# data/redpandas/
data/